.input-wrapper {
  padding: 20px;
  position: relative;
  width: 350px;

  &__label {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    color: white;
  }

  &__input {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  &__error {
    font-family: "Nunito", sans-serif;
    color: brown;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}
