.pagination {
  display: flex;
  justify-content: center;

  &__arrow {
    font-size: 45px;
    color: #042a3f;
    font-weight: bold;
    padding-bottom: 15px;
  }

  &__arrow:hover {
    cursor: pointer;
    color: #042a3f;
  }
}