.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #c72e53;

  &__logo {
    width: 80px;
    height: 60px;

    @media (max-width: 960px) {
      width: 40px;
      height: 30px;
    }
  }

  &__button-logout {
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 960px) {
      font-size: 14px;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 40%;

  &__link {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;

    a {
      color: white;
      text-decoration: none;
      font-family: "Nunito", sans-serif;
      font-size: 18px;

      @media (max-width: 960px) {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 960px) {
    width: 60%;
    padding-left: 0;
  }
}
